* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html,
body {
	scroll-behavior: smooth;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.basic-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #153416;
    margin-bottom: 25px;
}

.task-list {
    margin-bottom: 15px;
}

.task-list a {
    font-size: 25px;
    text-decoration: none;
    color: #325232;
    vertical-align: bottom;
}

.task-btn {
    padding: 5px 10px;
    background-color: #153416;
    border-radius: 8px;
    border: 1px solid #153416;
    color: #fff;
    cursor: pointer;
}

.input-text {
    padding: 15px 20px;
    background-color: #d1cbcb;
    border-radius: 8px;
    border: 1px solid #d1cbcb;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
}

input::placeholder {
    color: #fff;
}

.text-btn {
    padding: 15px 20px;
    background-color: #153416;
    border-radius: 8px;
    border: 1px solid #153416;
    color: #fff;
    cursor: pointer;
}


